In [69]:
# IMPORTS

# Base
import json
import pandas as pd

# Inner
from scripts.file_manager import YAML_read
from scripts.requests import Request_post

In [70]:
# Get settings
file = YAML_read('config')
file.get_config()
token = file.config['service_token'] # Exclude API token
link = file.config['service_link'] # Exclude API url

with open('data.json') as f:
    start_data = json.load(f)

actual_data_id = start_data[0]['id'] # This is maximum data id in offline dataset

In [71]:
# Get data on cycle request 

result = Request_post(link, token) # First request
data = []
snap = result.result
num = 1
work = True
while work:
    if snap['next']:
        for result in snap['results']:
            if result['id'] > actual_data_id:
                data += [result]
                link = snap['next']
                result = Request_post(link, token)
                snap = result.result
                num += 1
            else:
                print('Actual data not found')
                work = False
                break
        
    else:
        work = False

Actual data not found

In [74]:
# Save data

data = data + start_data
with open('data.json', 'w', encoding='utf-8') as f:
    json.dump(data, f, ensure_ascii=False, indent=4)

In [80]:
# Pandas

df=pd.DataFrame(data)
df.head()

     id   identity        command                       time_create
0  2142  409308393  open_settings  2022-12-21T15:13:22.662603+03:00
1  2141  315854463           exit  2022-12-21T15:04:03.171655+03:00
2  2140  315854463      new_words  2022-12-21T15:03:55.157946+03:00
3  2139  315854463           exit  2022-12-21T15:03:53.964027+03:00
4  2138  315854463      new_words  2022-12-21T15:01:21.364983+03:00